Repository akn-sfu/GLIMPS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build webapp

.gitlab-ci.yml:

stages:
  - test
  - build
  - deploy

variables:
  DEV_BRANCH: "master"
  PROD_BRANCH: "prod"

test lockfiles:
  stage: test
  image: node:16
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      when: always
  script:
    - ./devops/tests/lockfiles.sh

build api:
  stage: build
  image: node:16
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - packages/api/**/*
        - packages/types/**/*
        - .gitlab-ci.yml
      when: always
    - if: '$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm ci
    - npm run bootstrap:ci:api
    - cd packages/types && npm run build && cd ../../
    - npm run link
    - cd packages/api
  script:
    - npx prettier --check .
    - npm run build
  after_script:
    - tar -czf api_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - api_build.tar.gz

build webapp:
  stage: build
  image: node:16
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null'
      changes:
        - packages/webapp/**/*
        - packages/types/**/*
        - .gitlab-ci.yml
      when: always
    - if: '$CI_COMMIT_BRANCH == $DEV_BRANCH || $CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: always
  before_script:
    - npm ci
    - npm run bootstrap:ci:webapp
    - cd packages/types && npm run build && cd ../../
    - npm run link
    - cd packages/webapp
  script:
    - npx prettier --check .
    - GENERATE_SOURCEMAP=false npm run build
  after_script:
    - cd packages/webapp/build && tar -czvf ../../../webapp_build.tar.gz .
  artifacts:
    expire_in: 1 week
    paths:
      - webapp_build.tar.gz

.deploy-script: &deploy-script
  - cp /var/glimps/.env ./.env
  - mv webapp_build.tar.gz devops/caddy
  - mv api_build.tar.gz packages/api
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml build
  - docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up --force-recreate -d
  - docker image prune -f
  - sleep 15 && docker exec glimps_api npx typeorm migration:run

deploy development:
  stage: deploy
  environment:
    name: development
    url: https://glimps-dev.cmpt.sfu.ca
  tags:
    - deploy-development
  rules:
    - if: '$CI_COMMIT_BRANCH == $DEV_BRANCH'
      when: on_success
  script:
    - *deploy-script

deploy production:
  stage: deploy
  environment:
    name: production
    url: https://glimps-prod.cmpt.sfu.ca
  tags:
    - deploy-production
  rules:
    - if: '$CI_COMMIT_BRANCH == $PROD_BRANCH'
      when: manual
  script:
    - *deploy-script

deploy gitlab:
  stage: deploy
  environment:
    name: gitlab
    url: https://glimps-dev-glb.cmpt.sfu.ca
  tags:
    - deploy-gitlab
  rules:
    - if: '$CI_COMMIT_BRANCH == $DEV_BRANCH'
      changes:
        - devops/gitlab/**/*
      when: manual
  before_script:
    - cd devops/gitlab
    - cp /var/glimps/.env ./.env
  script:
    - docker-compose pull
    - docker-compose up --force-recreate -d

refresh author and member data when update any author's member
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
  packages/webapp/src/pages/RepositorySetup/Members/index.tsx
Due: build webapp

Implement UI for member author warning
  packages/api/src/gitlab/repository/repository.controller.ts
  packages/webapp/src/pages/RepositorySetup/MakeWarning.tsx
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
  packages/webapp/src/pages/RepositorySetup/Members/index.tsx
  packages/webapp/src/pages/RepositorySetup/index.tsx
Due: build api, build webapp

Revert lernaudit dependency
  package-lock.json
  package.json
Due: none

Run prettier
  packages/webapp/tsconfig.json
Due: build webapp

add question mark icon for auto-match members
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
  packages/webapp/src/pages/RepositorySetup/Members/index.tsx
Due: build webapp

refactor
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
Due: build webapp

add query merge request by commit range
  packages/api/src/gitlab/merge-request/merge-request-query.dto.ts
  packages/api/src/gitlab/merge-request/merge-request.service.ts
  packages/webapp/src/api/mergeRequests.ts
  packages/webapp/src/pages/Code/index.tsx
Due: build api, build webapp

exclude out of range commits
  packages/webapp/src/pages/Code/CommitList/index.tsx
  packages/webapp/src/pages/Code/index.tsx
Due: build webapp

change title of unmerged commits
  packages/webapp/src/pages/Code/CommitOrMergeRequestRenderer.tsx
  packages/webapp/src/pages/Code/index.tsx
Due: build webapp

change background color of unmerged requests
  packages/webapp/src/pages/Code/CommitOrMergeRequestRenderer.tsx
  packages/webapp/src/pages/Code/index.tsx
Due: build webapp

exclude out of range commits from merge sum commit score
  packages/webapp/src/pages/Code/CommitOrMergeRequestRenderer.tsx
Due: build webapp

refactor the brackets to match commit brackets
  packages/webapp/src/pages/Code/CommitOrMergeRequestRenderer.tsx
Due: build webapp

resolved merge conflicts and addressed MR comments
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
  packages/webapp/src/pages/RepositorySetup/Members/index.tsx
  packages/webapp/src/pages/RepositorySetup/index.tsx
Due: build webapp

Scaffold new github directory and start on issue
  packages/api/src/app.module.ts
  packages/api/src/github/repository/issue/issue.controller.spec.ts
  packages/api/src/github/repository/issue/issue.controller.ts
  packages/api/src/github/repository/issue/issue.service.spec.ts
  packages/api/src/github/repository/issue/issue.service.ts
  packages/api/src/github/repository/repository.module.ts
  packages/api/src/gitlab/repository/repository.controller.ts
Due: build api

Add github module scaffold
  packages/api/src/github/github.module.ts
Due: build api

Add scaffolding for token
  packages/api/src/app.module.ts
  packages/api/src/github/token/token.controller.spec.ts
  packages/api/src/github/token/token.controller.ts
Due: build api

add workflow
  blank.yml
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

thing that makes sense
  .github/workflows/.gitlab-ci.yml
  .github/workflows/node.js.yml
Due: none

Remove token controller from app
  packages/api/src/app.module.ts
Due: build api

remove
  .github/workflows/.gitlab-ci.yml
Due: none

.
  .gitlab-cl.yml
Due: none

Add workflow 415-glimps/glimps-tool
  .github/workflows/glimps-tool.yml
Due: none

.
  .github/workflows/glimps-tool.yml
Due: none

,
  .github/workflows/glimps-tool.yml
Due: none
