Repository akn-sfu/GLIMPS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build api, build webapp

build api:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - npm ci
  - npm run bootstrap:ci:api
  - cd packages/types && npm run build && cd ../../
  - npm run link
  - cd packages/api
  script:
  - npx prettier --check .
  - npm run build
  after_script:
  - tar -czf api_build.tar.gz .
  artifacts:
  ...

build webapp:
  stage: build
  image: node:16
  tags:
  - docker
  before_script:
  - npm ci
  - npm run bootstrap:ci:webapp
  - cd packages/types && npm run build && cd ../../
  - npm run link
  - cd packages/webapp
  script:
  - npx prettier --check .
  - GENERATE_SOURCEMAP=false npm run build
  after_script:
  ...

Fix pipeline: switch to Node 14
  .gitlab-ci.yml
  docs/development.md
Due: build api, build webapp

Add node version and update ignore for all env* files
  .gitignore
  .nvmrc
Due: none

Fix ts linter in the api directory
  packages/api/.eslintrc.js
  packages/api/tsconfig.eslint.json
Due: build api

Fix ts linter in the webapp directory
  packages/webapp/tsconfig.eslint.json
Due: build webapp

Run prettier on eslint.json files
  packages/api/tsconfig.eslint.json
  packages/webapp/tsconfig.eslint.json
Due: build api, build webapp

remove comments and unecessary directories
  packages/api/tsconfig.eslint.json
  packages/webapp/tsconfig.eslint.json
Due: build api, build webapp

Add string type to sync repository card
  packages/webapp/src/pages/Repositories/RepositoryList/index.tsx
Due: build webapp

Add name to on-click sync
  packages/webapp/src/pages/Repositories/RepositoryList/RepositoryCard.tsx
Due: build webapp

Add name and string type to the share types folder for operations
  packages/types/src/Operation.ts
  packages/webapp/src/api/operation.ts
Due: build api, build webapp

Remove console log and update operation types to include repository name
  packages/api/src/operation/dtos/create-operation-dto.ts
  packages/types/src/Operation.ts
  packages/webapp/src/pages/Repositories/RepositoryList/RepositoryCard.tsx
Due: build api, build webapp

Add repository name to the API routes
  packages/api/src/operation/operation.controller.ts
  packages/api/src/operation/operation.service.ts
Due: build api

Display name when syncing if exists
  packages/webapp/src/pages/Operations/OperationProgress.tsx
Due: build webapp

215 fix typo
  packages/webapp/src/pages/Comment/iconTitle.tsx
Due: build webapp

182 fix invalid date when no commit
  packages/webapp/src/pages/Graph/DynamicGraph/index.tsx
Due: build webapp

182 avoid selecting invalid date range
  packages/webapp/src/pages/RepositorySetup/RepoFilter.tsx
Due: build webapp

Fix typescript linter on webapp
  packages/webapp/.eslintrc.js
  packages/webapp/tsconfig.eslint.json
Due: build webapp

Remove eslint json file
  packages/webapp/.eslintrc.json
Due: build webapp

Move collaborator handler to form
  packages/webapp/src/pages/RepositorySetup/Collaborator/Collaborators.tsx
  packages/webapp/src/pages/RepositorySetup/index.tsx
Due: build webapp

Implement error message
  packages/webapp/src/pages/RepositorySetup/Collaborator/Collaborators.tsx
Due: build webapp

Revert tslinter settings change
  packages/webapp/.eslintrc.js
  packages/webapp/.eslintrc.json
  packages/webapp/tsconfig.eslint.json
Due: build webapp

Run prettier on eslintrc
  packages/webapp/.eslintrc.json
Due: build webapp

add algorithm to automatically match names
  packages/webapp/src/pages/RepositorySetup/Members/LinkingAlgorithm.tsx
Due: build webapp

178 add empty member for author linking
  packages/api/src/gitlab/repository/commit/author/commit-author.service.ts
  packages/api/src/gitlab/repository/repository.controller.ts
  packages/types/src/Commit.ts
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
Due: build api, build webapp

add database page admin
  docker-compose.yml
Due: none

move linking algorithm to the backend
  packages/api/src/gitlab/repository/commit/author/commit-author-autolinker.ts
  packages/webapp/src/pages/RepositorySetup/Members/LinkingAlgorithm.tsx
Due: build api, build webapp

Add tsconfig rule to fix tslint when opening from root
  packages/webapp/tsconfig.json
  tsconfig.json
Due: build webapp

Add migration file
  packages/api/src/migrations/1685319537029-AddRequireSyncToRepository.ts
Due: build api

Add the queries to migration
  packages/api/src/migrations/1685319537029-AddRequireSyncToRepository.ts
Due: build api

Update column name'
  packages/api/src/migrations/1685319537029-AddRequireSyncToRepository.ts
Due: build api

Set default to false
  packages/api/src/migrations/1685319537029-AddRequireSyncToRepository.ts
Due: build api

Add put endpoint to repository controller
  packages/api/src/gitlab/repository/repository.controller.ts
Due: build api

Add type and refactor based on ts linter suggestions"
  packages/api/src/gitlab/merge-request/merge-request.service.ts
  packages/types/src/Repository.ts
Due: build api, build webapp

disable sort author by setting, replace by sort by author_name then author_email
  packages/webapp/src/pages/RepositorySetup/Members/index.tsx
Due: build webapp

put the member text in red if it is auto matched
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
Due: build webapp

optimize and adjust author linking algorithm
  packages/api/src/gitlab/repository/commit/author/commit-author-autolinker.ts
  packages/api/src/gitlab/repository/commit/author/commit-author.entity.ts
  packages/api/src/gitlab/repository/commit/author/commit-author.service.ts
  packages/api/src/gitlab/repository/repository.controller.ts
Due: build api

migrate pgadmin to docker compose override
  docker-compose.override.yml
  docker-compose.yml
Due: none

optimize behaviours
  packages/api/src/gitlab/repository/commit/author/commit-author-autolinker.ts
  packages/api/src/gitlab/repository/commit/author/commit-author.service.ts
  packages/api/src/operation/executor/sync-repository.executor.ts
Due: build api

remove comments
  packages/api/src/gitlab/repository/commit/author/commit-author-autolinker.ts
Due: build api

auto match only none member author
  packages/api/src/gitlab/repository/commit/author/commit-author-autolinker.ts
  packages/api/src/operation/executor/sync-repository.executor.ts
Due: build api

Add recalculation column on repo table
  package-lock.json
  package.json
  packages/api/src/common/base.service.ts
  packages/api/src/gitlab/repository/repository.controller.ts
  packages/api/src/gitlab/repository/repository.entity.ts
  packages/api/src/gitlab/repository/repository.service.ts
  packages/webapp/src/api/repository.ts
  packages/webapp/src/pages/RepositorySetup/Members/Author.tsx
  packages/webapp/src/pages/RepositorySetup/Members/index.tsx
Due: build api, build webapp

Path conditions:
  build api: any of: packages/api/**/*, packages/types/**/*, .gitlab-ci.yml
  build webapp: any of: packages/webapp/**/*, packages/types/**/*, .gitlab-ci.yml
